@import "tailwindcss";

*{
  scroll-behavior: smooth;
}

.animated-net {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  background-color: #ffffff;

  background-image:
    linear-gradient(90deg, rgba(0, 191, 255, 0.253) 1px, transparent 1px),
    linear-gradient(rgba(0, 191, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  overflow: hidden;
}

.animated-net::after {
  content: "";
  position: absolute;
  width: 400%;
  height: 400%;
  top: -150%;
  left: -150%;

  background-image:
    linear-gradient(90deg, rgba(255, 0, 0, 0.6) 1px, transparent 1px),
    linear-gradient(rgba(255, 0, 0, 0.6) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: flowingGrid 3s linear infinite;
  mix-blend-mode: lighten;
  opacity: 1;
}

@keyframes flowingGrid {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(50%, 30%);
  }
  50% {
    transform: translate(70%, 60%);
  }
  75% {
    transform: translate(30%, 80%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}


.blob {
  border-radius: 60%;
  animation: blob 3s infinite ease-in-out;
}

@keyframes blob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -20px) scale(1.05, 0.65);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.65, 1.05);
  }
}


html::-webkit-scrollbar {
  width: 12px !important;
}

html::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
}

html::-webkit-scrollbar-thumb {
  background-color: #155dfc !important;
  border-radius: 6px !important;
  border: 3px solid #f1f1f1 !important;
}

html {
  scrollbar-width: thin !important;
  scrollbar-color: #155dfc #f1f1f1 !important;
}


.custom-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; 
}

.custom-scrollbar::-webkit-scrollbar {
  display: none; 
}


.text-stroke-blue {
  color: white;
  -webkit-text-stroke: 1px #155dfc;
  text-shadow: 1px #155dfc; /* for fallback */
}


*{
  scroll-behavior: smooth;
}